html {
    margin: 0;
    padding: 0;
}

.bg-main {
    background-color: #343A40;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card-outside{
    display: table-cell;
    vertical-align: middle;
}

.card-inside{
    background-color: #E9ECEF;
    margin-left: auto;
    margin-right: auto;
    height: 40em;
    width: 30em;
    border-radius: 6px;
}

.card-header{
    color: #E9ECEF;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    position: relative;
    max-width: 23em;
    border-radius: 5px 5px 0 0;
    background-color: #212529;
}

.card-header button{
    color: #fff;
    width: 55px;
    border: none;
    outline: none;
    background: #212529;
    font-size: 19px;
    cursor: pointer !important;
    opacity: 0.7;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.input-field{
    height: 45px;
    width: calc(100% - 20px);
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #E9ECEF;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-button{
    color: #fff;
    width: 55px;
    border: none;
    outline: none;
    background: #495057;
    font-size: 19px;
    cursor: pointer !important;
    opacity: 0.7;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-button-clip:hover{
    color: #212529;
}

.typing-button-clip{
    color: #797f84;
    width: 40px;
    border: none;
    outline: none;
    background: #E9ECEF;
    font-size: 20px;
    cursor: pointer !important;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.messages{
    height: 32em;
    background-color: #E9ECEF;
}